
@{
    ViewBag.Title = "HMS";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<br />

<br />

<br />

<br />
<div class="container col-lg-12">
    <div class="col-sm-12">
        <i class="signed-out">Signed Out!</i>
    </div>
    <div class="col-sm-12">
        <p>
            You have logged off from application. Please click <a href="@Url.Action("Login","User")">
                here
            </a> to login.
        </p>
    </div>
</div>