<div class="row">
    <div class="col-md-12">


        @{
            ViewBag.Title = "Home | Hostel Management System";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        <div class="container">

            <div class="row">
                <p>Welcome to Hostel Management System</p>
                Designed and Developed by <a href="http://www.urbi.xyz">Urbi.</a>
                
            </div>
            <div class="row">
                <p class="footnote">&copy; @DateTime.Now.Year - Hostel Management System</p>
            </div>

        </div>
        @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@




    </div>
</div>
